<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row py-5">
  <div class="col-md-11 mx-auto">
    {{#if beginner}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      You don't have any record in this month yet. Try to
      <a href="/records/new?type=expense">add expense</a> or
      <a href="/records/new?type=revenue">add revenue</a> now or choose another
      month to filter!
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}} {{#if noFilterResult}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      No result found for the selected {{selectedDate}} {{selectedCategory}}.
      Try to use other month or category filter.
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{/if}} {{!-- Filter --}}
    <div class="mt-4">
      <form action="/records" class="input-group row" onchange="submit();">
        <div class="row py-5">
          <div class="col-12 col-lg-10 col-xl-8 mx-auto form-container">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="fas fa-edit"></i> Edit {{type}}
                </h5>
                <hr />

                <form
                  class="row g-3"
                  action="/records/{{record._id}}?_method=PUT"
                  method="POST"
                >
                  {{! Name }}
                  <div class="col-md-12 row mb-3 ml-1 mr-4">
                    <label for="name" class="col-md-4 col-form-label"
                      >Name<span class="field-required">*</span>
                    </label>
                    <input
                      type="text"
                      name="name"
                      class="form-control col-md-8"
                      id="name"
                      value="{{record.name}}"
                      required
                      maxlength="15"
                    />
                  </div>

                  <div class="col-md-12 row mb-3 ml-1 mr-4">
                    <label for="amount" class="col-md-4 col-form-label"
                      >Category<span class="field-required">*</span></label
                    >
                    <input
                      type="number"
                      name="amount"
                      class="form-control col-md-8"
                      id="amount"
                      value="{{record.amount}}"
                      required
                      min="1"
                      max="999999"
                    />
                  </div>

                  {{! Amount }}
                  <div class="col-md-12 row mb-3 ml-1 mr-4">
                    <label for="amount" class="col-md-4 col-form-label"
                      >Amount<span class="field-required">*</span></label
                    >
                    <input
                      type="number"
                      name="amount"
                      class="form-control col-md-8"
                      id="amount"
                      value="{{record.amount}}"
                      required
                      min="1"
                      max="999999"
                    />
                  </div>
                  {{! type }}
                  <input
                    type="text"
                    name="type"
                    class="form-control col-md-8"
                    value="{{type}}"
                    style="display: none"
                  />
                  {{! Button }}
                  <div class="col-md-12 d-flex justify-content-end mr-4">
                    <button class="btn btn-success" type="submit">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        {{!-- Charts --}} 
        <div
          class="mt-4 mb-5 mx-2 row"
          style="
            background: white;
            border-radius: 10px;
            box-shadow: 3px 4px 5px 0px #05119a14;
          "
        >
          <div class="col-lg-7 d-flex flex-column justify-content-around">
            <div class="amount-container row justify-content-center">
              <div
                class="expense-container col-12 col-sm-3 col-lg-4 my-2 pt-4 row justify-content-center"
              >
                <div
                  class="pb-3 pt-4 col-auto col-sm-12 d-flex flex-column justify-content-center align-items-center"
                >
                  <span
                    style="
                      background: white;
                      box-shadow: 0px 4px 4px 1px #a8bfd25c;
                      border-radius: 50%;
                    "
                    class="p-2"
                  >
                    <i
                      class="fas fa-comment-dollar fa-lg"
                      style="color: #ff4800ed"
                    ></i>
                  </span>
                </div>
                <div
                  class="col-auto col-sm-12 d-flex flex-column justify-content-center align-items-center"
                >
                  <div class="d-flex align-items-center">
                    <i class="fas fa-dollar-sign fa-xs mr-1"></i>
                    {{#each Budgets}}
                    <span style="font-weight: 500">{{name}} {{ total_budget }}<br></span>
                    {{/each}}
                    <span style="font-weight: 500">Total Budget {{ sum_budget Budgets }}</span>
                    
                  </div>
                  <div>
                    <span
                      style="
                        font-size: 0.9rem;
                        font-weight: 500;
                        color: #e84200ed;
                      "
                    >
                      Budget
                    </span>
                  </div>
                </div>
              </div>
              <div
                class="Expenses-container col-12 col-sm-3 col-lg-4 my-2 pt-4 row justify-content-center"
              >
                <div
                  class="pb-3 pt-4 col-auto col-sm-12 d-flex flex-column justify-content-center align-items-center"
                >
                  <span
                    style="
                      background: white;
                      box-shadow: 0px 4px 4px 1px #a8bfd25c;
                      border-radius: 50%;
                    "
                    class="p-2"
                  >
                    <i
                      class="fas fa-comment-dollar fa-lg"
                      style="color: #3877e4"
                    ></i>
                  </span>
                </div>
                <div
                  class="col-auto col-sm-12 d-flex flex-column justify-content-center align-items-center"
                >
                  <div class="d-flex align-items-center">
                    <i class="fas fa-dollar-sign fa-xs mr-1"></i>
                    {{#each Budgets}}
                    {{#each Expenses}}
                    <span style="font-weight: 500">{{expense_name}} {{ expense_amount }}<br></span>
                    {{/each}}
                    {{#if Expenses.length}}
                    <span style="font-weight: 500">Total Expenses {{sum_expense Expenses}}<br></span>
                    {{/if}}
                    {{/each}}
                  </div>
                  <div>
                    <span
                      style="
                        font-size: 0.9rem;
                        font-weight: 500;
                        color: #3877e4;
                      "
                    >
                      Expenses
                    </span>
                  </div>
                </div>
              </div>
              <div
                class="revenue-container col-12 col-sm-3 col-lg-4 my-2 pt-4 row justify-content-center"
              >
                <div
                  class="pb-3 pt-4 col-auto col-sm-12 d-flex flex-column justify-content-center align-items-center"
                >
                  <span
                    style="
                      background: white;
                      box-shadow: 0px 4px 4px 1px #a8bfd25c;
                      border-radius: 50%;
                    "
                    class="p-2"
                  >
                    <i
                      class="fas fa-comment-dollar fa-lg"
                      style="color: #03bf7a"
                    ></i>
                  </span>
                </div>
                <div
                  class="col-auto col-sm-12 d-flex flex-column justify-content-center align-items-center"
                >
                  <div class="d-flex align-items-center">
                    <i class="fas fa-dollar-sign fa-xs mr-1"></i>
                    <span style="font-weight: 500">{{ budget }}</span>
                  </div>
                  <div>
                    <span
                      style="
                        font-size: 0.9rem;
                        font-weight: 500;
                        color: #03bf7a;
                      "
                    >
                      Revenues
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/profile.js"></script>
